{% extends 'manage_layout.html' %}

{% block content %}
    <div class="row">
        <h2 class="col-sm-6">
            {% if not form.instance.id %}
                Add Todo
            {% else %}
                Edit Todo
            {% endif %}
        </h2>
        <div class="col-sm-6 text-right">
            <a class="btn btn-outline-primary" href="{% url 'Todo:list' %}">Todo List</a>
        </div>
    </div>

    <form method="post" class="todo__form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center">
            <button type="submit" class="btn btn-outline-primary">Save</button>
        </div>
    </form>
{% endblock %}