{% extends 'manage_layout.html' %}

{% block content %}
    <form method="post">{% csrf_token %}

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Dialog</h5>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete "{{ object }}"?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Delete</button>
                    <a href="{% url 'Todo:list' %}" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div>

    </form>
{% endblock %}