{% extends 'manage_layout.html' %}

{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <h2 class="col-xs-12 col-sm-4">Todo list</h2>
        <div class="col-xs-12 col-sm-8 text-center text-sm-right">
            {% if request.session.filter == 'active' %}
                <a class="btn btn-outline-primary" href="{% url 'Todo:list' %}?filter=all">Show All tasks</a>
            {% else %}
                <a class="btn btn-outline-primary" href="{% url 'Todo:list' %}?filter=active">Hide Completed
                    tasks</a>
            {% endif %}
            <a class="btn btn-outline-primary" href="{% url 'Todo:add' %}">Add</a>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="mt-2 alert {% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">
                <strong>Last action:</strong> {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="col-12 mt-2">
        {% for task in object_list %}
            <div class="row todo__list__todo ">
                <div class="col-sm-9">
                    <div class="col-12 mt-1 p-2 pl-3"
                         style="overflow:hidden; border-bottom: 1px dashed #bcbcbc">
                        <strong>#{{ task.id }}</strong>
                        <nobr>by <strong>{{ task.user.username|upper }}</strong></nobr>
                        <nobr>at <strong>{{ task.created_at|date:'d M. H:i' }}</strong></nobr>
                    </div>
                    <div class="col-12 todo__title p-3 pb-0">
                        {{ task.name }}
                    </div>
                    <div class="col-12 todo__description">
                        {{ task.description|linebreaks }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-12 mt-2">
                        <div class="row">

                            {% if task.user == user %}
                                <a class="col-6 btn btn-outline-primary"
                                   href="{% url 'Todo:edit' task.id %}">Edit</a>
                                <a class="col-6 btn btn-outline-info"
                                   href="{% url 'Todo:delete' task.id %}">Delete</a>
                            {% endif %}

                            {% if task.is_done %}
                                <div class="col-12 mt-2">
                                    <strong>Done</strong>
                                    <nobr>by <strong>{{ task.related_done.user }}</strong></nobr>
                                    <nobr>at <strong>{{ task.related_done.updated_at }}</strong></nobr>
                                </div>
                            {% else %}
                                <a class="col-12 mb-2 mt-2 btn btn-success" href="{% url 'Todo:done' task.id %}">
                                    Mark Done</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="alert alert-info text-center">No tasks yet.</div>
        {% endfor %}
    </div>

    {% if is_paginated %}
        <nav>
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                    </li>
                {% endif %}
                <li class="page-item"><a class="page-link">Page {{ page_obj.number }}
                    of {{ page_obj.paginator.num_pages }}</a></li>
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

{% endblock %}