body {
  background-color: #f5f5f5;
}

.todo__form {
  label {
    display: block;
  }
  input, textarea {
    color: #3b444f;
    padding: 5px 10px;
    font-size: 1.7rem;
    width: 100%;
  }
}

.todo__list {
  padding: 0;

  &__todo {
    background-color: #ffffff;
    color: #3b444f;
    border-radius: 3px;
    margin-bottom: 20px;

    .todo {
      &__title {
        font-size: 1.5rem;
      }
    }

  }

}
