body {
    background-color: #f5f5f5;
}

.todo__form label {
    display: block;
}

.todo__form input, .todo__form textarea {
    color: #3b444f;
    padding: 5px 10px;
    font-size: 1.7rem;
    width: 100%;
}

.todo__list {
    padding: 0;
}

.todo__list__todo {
    background-color: #ffffff;
    color: #3b444f;
    border-radius: 3px;
    margin-bottom: 20px;
}

.todo__list__todo .todo__title {
    font-size: 1.5rem;
}

/*# sourceMappingURL=styles.css.map */
