{% extends 'todo_auth/layout.html' %}

{% block content %}
    <div class="col-sm-4 offset-sm-4">
        <form class="form__auth" method="POST">
            {% csrf_token %}

            <h2>New user:</h2>
            <hr/>

            {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}

            {% if form.non_field_errors %}
                <div class="alert alert-warning pb-0">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            {% if form.errors %}
                <div class="alert alert-warning pb-0">
                    {{ form.errors }}
                </div>
            {% endif %}


            <div class="text-center">
                <p>
                    <button class="btn btn-outline-primary" type="submit">Register</button>
                </p>
                <p>or</p>
                <a href="{% url 'Account:login' %}">Login</a>
            </div>
        </form>
    </div>
{% endblock %}